.bg {
    background: #f6f2ff;
    height: 100%;
    padding: 40px 0px;
}
.text-container {
    text-align: end;
}
.mobile-img {
    width: 440px;
    height: 775.69px;
    border-radius: 35px;
}
.main-container {
    width: 100%;
}
@media (max-width: 768px) {
    .text-container {
        text-align: center;
    }
    .mobile-img {
        margin: 25px 0px;
    }
}
